body {
  overflow: hidden;
}

.questrial-regular {
  font-family: "Questrial", serif;
  font-weight: 400;
  font-style: normal;
}

/* Replace <uniquifier> with a unique identifier and <weight> with desired weight */
.space-grotesk-title {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Example weight */
  font-style: normal;
}

.space-grotesk-body {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Example weight */
  font-style: normal;
}